Bitwarden/
BraveSoftware/
btop/
cava/
Code/
dconf/
Element/
go/
neofetch/
procps/
simple-update-notifier/
spicetify/
spotify/
systemd/
Thunar/
vesktop/
xsettingsd/
yay/
arkrc
kdeglobals
mimeapps.list
QtProject.conf
sddm/
discord/
Electron/
obs-studio/
mpv/
kdenlive-layoutsrc
kdenliverc